@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Sacramento&display=swap');

html {
    top: 0;
    right: 0;
    margin-top: 0;
    margin-top: -10px;
    word-wrap: break-word;
}

.App {
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    margin-top: 0;
}

.lists-container {
    position: fixed;
    min-height: 100%;
    width: 22%;
    border: 2px solid hsl(14, 24%, 25%);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    justify-content: center;
    background-image: url('https://1.bp.blogspot.com/-COa7C0s4Yqc/UEFib9CdjeI/AAAAAAAAKX4/KHLla-fwLJ8/s1600/7dfd08ba49dca858b5fe7ec7cbfb1790.jpg');
    /* box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3); */
    /* box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5); */
    /* box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.5); */
    box-shadow: inset 2000px 0 0 0 rgba(255, 248, 220, 0.1);
    border-color: rgba(0, 0, 0, 1);
}

.main-header {
    height: 84px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: inset 2000px 0 0 0 rgb(255 248 220 / 60%);
    border-radius: 68px;
    font-family: 'Sacramento';
    text-decoration: underline;
    font-size: 68px;
    text-shadow: 1px 1px 2px hsl(14, 24%, 25%);
}

.list {
    text-align: center;
    font-family: 'Damion', cursive;
    font-size: 32px;
    margin-bottom: 12px;
    text-shadow: 0.5px 0.5px 1px hsl(15, 19%, 56%);
}

.list:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.todos-container {
    padding-top: 20px;
    border: 1px solid green;
    margin-left: 22%;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex: 3;
    margin-top: 0;
    top: 0;
    background: url('https://www.artranked.com/images/c8/c815961716f9f4352a13e80739789e53.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.3); */
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    /* box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.5); */
    /* box-shadow: inset 2000px 0 0 0 rgba(255,248,220, 0.1); */
    border-color: rgba(0, 0, 0, 1);
}

.todos-list {
    right: 0;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.todos-main-header {
    font-family: 'Sacramento';
    text-decoration: underline;
    font-size: 68px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(79, 56, 48);
    box-shadow: inset 2000px 0 0 0 rgba(255, 248, 220, 0.6);
    /* width: 244px; */
    border-radius: 68px;
}

.single-todo {
    min-height: 74px;
    box-shadow: inset 2000px 0 0 0 rgba(255, 248, 220, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.todo-header {
    display: flex;
    align-items: center;
}

.todo-title, .todo-title_undone {
    font-family: 'Sacramento';
    font-size: 34px;
    margin-right: 12px;
    margin-left: 12px;
}

.todo-title_undone {
    color: rgb(82, 82, 82);
    text-decoration: line-through;
}

.input-form {
    border: 1px solid yellow;
    position: fixed;
    margin-bottom: 0px;
    position: fixed;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    left: 22.3%;
    background-color: bisque;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.send-submit_button,
button {
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button {
    width: 40px;
    margin-bottom: 0;
}

.error-page {
    height: 54px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sacramento';
    text-decoration: underline;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(79 56 48);
    box-shadow: inset 2000px 0 0 0 rgb(255 248 220 / 60%);
    width: 424px;
    border-radius: 68px;
}

.today-title,
.today-lists_button, .list-name_link {
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sacramento';
    text-decoration: underline;
    font-size: 38px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(79 56 48);
    box-shadow: inset 2000px 0 0 0 rgb(255 248 220 / 60%);
    width: 382px;
    border-radius: 68px;
}

.today-lists_button {
    width: 224px;
    bottom: 28px;
    position: absolute;
    bottom: 34px;
    margin-left: 14%;
}

.list-name_link {
    width: 224px;
    height: 36px;
    font-size: 30px;
    margin-left: 0;
    margin-top: -30px;
    margin-bottom: 36px;
}

.active{
    font-weight: bold;
    color: #fff;
}